/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  min-height: 100vh;
}

img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[class] {
  list-style: none;
}

button {
  cursor: pointer;
}
h1{
    text-align: center;
}
#gameboard{
    border: solid 5px #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(90vw, 420px);
    margin: 0 auto;
}

.square{
    border: solid 3px #000;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    font-size: clamp(2rem, 12vw, 5rem);
    border: 2px solid #222;
    cursor: pointer;
}

#players{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player h2, p{
    text-align: center;
}

#get_user_names{
    background: #fff;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#userForm input{
    margin-top: 10px;
}

#userForm button{
    margin: 10px auto;
}

@media (min-width: 1000px){
    #players{
        width: 200px;
    }
}
