/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #000;
  color: #8ffcff;
}

img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[class] {
  list-style: none;
}

button {
  cursor: pointer;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
#gameboard{
    border: solid 5px #8ffcff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(90vw, 420px);
    margin: 0 auto;
}

.square{
    border: solid 2px #8ffcff;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    font-size: clamp(2rem, 12vw, 5rem);
    cursor: pointer;
}

#players{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player h2, p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#get_user_names{
    background: #000;
    color: #00f9ff;
    font-size: 1.2rem;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    border: solid #8ffcff 2px;
    border-radius: 10px;
}

#userForm p{
    align-self: center;
    margin-bottom: 10px;
}

#userForm input{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background: #000;
    border: solid #8ffcff 2px;
    height: 50px;
    color: #8ffcff;
    padding: 10px;

}

#userForm button{
    align-self: center;
    background: #8ffcff;
    color: #000;
    width: fit-content;
    height: 60px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    width: 60%;
}

#gameOver{
    width: 100vw;
    height: 100vh;
    flex-direction:column;
    background-color: rgba(000, 000, 000, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

#gameOver button{
   align-self: center;
   margin-top: 20px;
   color: #000;
   background: #8ffcff;
   border:none;
   padding: 10px;
   font-size:1.2rem;
   border-radius: 20px;

}

#message{
    font-size: 2rem;
}



@media (min-width: 1000px){
    #players{
        width: 200px;
    }
}
